*{
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(204, 43%, 93%);
}

main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.top-area{
    padding: 30px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top-area h3{
   color: hsl(179, 62%, 43%); 
}

.top-area b{
    color: hsl(71, 73%, 54%);
}

.top-area p{
    color: hsl(218, 22%, 67%);
}

.bottom-area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 10px;
}

.left-area{
    background-color: hsl(179, 62%, 43%);
    padding: 30px;
    border-bottom-left-radius: 10px;
    color: hsl(204, 43%, 93%);
    padding-top: 10px;
}

.left-area button{
    padding: 15px 90px 15px 90px;
    color: hsl(204, 43%, 93%);
    background-color: hsl(71, 73%, 54%);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}

.dollar{
    font-size: 32px;
    margin-top: -10px;
    margin-bottom: -5px;
}

.dollar b{
    font-size: 16px;
    opacity: 0.3;
}

.right-area{
    color: hsl(204, 43%, 93%);
    background-color: hsl(218, 22%, 67%);
    padding: 10px;
    border-bottom-right-radius: 10px;
}

.right-area h3{
    padding-left: 40px;
}

.right-area ul{
    list-style-type: none;
}

.right-area ul li{
    font-size: 16px;
}

@media screen and (max-width: 480px){

    main{
        position: relative;
        right: 55px;
    }

    .top-area{
        width: 300px;
    }


    .bottom-area{
        grid-template-columns: 1fr;
    }

    .left-area{
        border-bottom-left-radius: 0;
        width: 300px;
    }

    .right-area{
        border-bottom-left-radius: 10px;
        text-align: left;
    }
}

